@{
    ViewData["Title"] = "Передать заявку";
}
@model IEnumerable<Order>

<div class="text-center">
    <h1 class="display-4">Передать заявку</h1>
    <div class="col-12">
        <div class="row mb-3 text-center">
            <div class="col-md-1">Номер заявки</div>
            <div class="col-md-1">Дата</div>
            <div class="col-md-2">Грузоотправитель</div>
            <div class="col-md-3">Грузополучатель</div>
            <div class="col-md-2">Груз</div>
            <div class="col-md-1">Статус</div>
            <div class="col-md-2" />
        </div>
        @foreach (var p in Model)
        {
            <div class="row mb-3 text-center">
                <div class="col-md-1">
                    @p.OrderId
                </div>
                <div class="col-md-1">
                    @p.Date
                </div>
                <div class="col-md-2">
                    @p.Shipper.Name
                </div>
                <div class="col-md-3">
                    @p.Consignee.Name
                </div>
                <div class="col-md-2">
                    @p.Cargo
                </div>
                <div class="col-md-1">
                    @if (p.StatusOrder == StatusOrder.NEW)
                    {
                        <div>Новая</div>
                    }
                    else
                    {
                        <div>В работе</div>
                    }
                </div>
                <div class="col-md-2">
                    <form id="@p.OrderId" asp-action="TransferOrder"
                      asp-controller="Order" method="post" class="d-inline-flex pull-right" style="float:right">
                        <input type="hidden" name="id"
                               value="@p.OrderId" />
                        <button type="submit"
                                class="btn btn-danger btn-sm">
                            Передать
                        </button>
                    </form>
                </div>
            </div>
        }
    </div>
</div>